<div class="home-banner">
  <h1>Testing Home Pages 123</h1>
  <h2>Pages#home</h2>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= render "wineries/search" %>
</div>

<div class="how-it-works">
  <h2>Bottom of cover image </h2>
  <h3>
    <ul>
      <li>Tours</li>
      <li>Tastings</li>
      <li>Hours</li>
    </ul>
  </h3>
</div>

<div class="bottom-home">
  Testing section 3 of home page
</div>
