.home-banner {
  background-image: url('https://images.unsplash.com/photo-1484920274317-87885fcbc504?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49cdcfb4d93c16b28694b691940fb072&auto=format&fit=crop&w=2389&q=80');
  background-size: cover;
  height: 80vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

// .second-banner {
//   height: 80vh;
//   background-size: cover;
// }
