.card {
 border: solid;
}

.card:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 9px 11px 0 rgba(0,0,0,.1);
  transition: all .3s ease-in-out;
  border: 1px solid #dcd7d6;
  background-color: #fff;
  border-color: transparent;
}
