<%= render "form" %>



<!-- <form action="/wineries" method="post">
  <label for="name">Enter a name</label>
  <input type="text" name="winery[name]">

  <label for="name">Does this winery provide tours? </label>
  <input type="text" name="winery[tour]">

  <input type="submit">


</form> -->
